<div class="reveal">
    <div class="slides">
        <section>What's the name of the Sketch application that allows you to easily download plugins?</section>
        <section>True or False. Sketch allows for both vector and bitmap artwork?</section>
        <section>Name the sketchy website that was recently hacked. (HINT: the tagline is 'Life is short. Have an affair.')?</section>
        <section>What's the name of the fake app we built today?</section>
        <section>Name the name of the software company that produces Sketch?</section>
    </div>
</div>

<div id="splash" class="hide">
    <div class="notification"></div>
</div>


<script src="https://js.pusher.com/2.2/pusher.min.js"></script>  


  <script>
    // Enable pusher logging - don't include this in production
    Pusher.log = function(message) {
      if (window.console && window.console.log) {
        window.console.log(message);
      }
    };
    var pusher = new Pusher('998ab3056ece4b735202', {
      encrypted: true
    });
    var channel = pusher.subscribe('buzzer');
    channel.bind('my_event', function(data) {
      var message = (data.message);
      $('#splash').removeClass('hide').addClass('animated fadeIn').delay(2500).slideUp(300);
      $('.notification').text(message).addClass('animated rotateIn');
    });
  </script>

  <script>
  Reveal.initialize({
    controls: false,
    progress: false,
    slideNumber: false,
    history: true,
    keyboard: true,
    overview: true,
    center: true,
    touch: true,
    // width: 1920,
    // height: 1080,

    transition: 'concave', // none/fade/slide/convex/concave/zoom

    transitionSpeed: 'default', // default/fast/slow

    backgroundTransition: 'default', // none/fade/slide/convex/concave/zoom
    viewDistance: 3,
    parallaxBackgroundImage: 'https://s3.amazonaws.com/sketch-game-show/reveal-parallax-1.jpg',
    parallaxBackgroundSize: '1920px 1080px', 
    parallaxBackgroundHorizontal: '300',
    parallaxBackgroundVertical: '0'

});
</script>