<style>
body {
	background: url("<%= asset_path 'reveal-parallax-1.jpg' %>");
}
</style>
<div class="player-name">Maggie Dai</div>
<div id="buzzer">
	<div align="center">
		<a href="/buzzin_player_maggie_dai"><img src="<%= asset_path 'buzzer.png' %>" width="200"></a>
	</div>
</div>