<style>
body {
	background-color: black;
}
</style>
<div class="player-name">Player Two</div>
<div id="buzzer">
	<div align="center">
		<a href="/buzzin_player_two"><img src="<%= asset_path 'buzzer.png' %>" width="200"></a>
	</div>
</div>