<style>
body {
	background: url("<%= asset_path 'reveal-parallax-1.jpg' %>");
}
</style>
<div class="player-name">Shane Dubay</div>
<div id="buzzer">
	<div align="center">
		<a href="/buzzin_player_shane_dubay"><img src="<%= asset_path 'buzzer.png' %>" width="200"></a>
	</div>
</div>