section  {
    font-size: 3em;
}

.hide {
    display: none;
}

#splash {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(9,18,32,1);
	top: 0px;
	left: 0px;
	z-index: 9999;
}


.notification {
	font-size: 4em;
	text-align: center;
	margin: 20% auto 0 auto;
	font-family: Helvetica;
	text-transform: uppercase;
	color: white;
	text-align: center;

}

.player-name {
	color: white;
	margin: 100px auto 0 auto;
	text-align: center;
	font-size: 2.3em;
	font-family: 'Helvetica-Neue', Helvetica;
	font-weight: 200;
	text-transform: uppercase;
}


#buzzer {
	margin: 50px auto 0 auto;
}


a:active {
	-webkit-filter: hue-rotate(90deg);
	filter: hue-rotate(90deg);
}